<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Native Page</title>
</head>
<body>
    <h2>Create Native Here</h2>
    <h3>Welcome back, create native with the form below</h3>

    <form>
        <label for="name">Native Name: </label><br>
        <input type="text" placeholder="Enter name of native"><br>
        <label>Enter Native Cohort:</label><br>
        <input type="number"><br>
        <label for="name">Upload Image: </label><br>
        <input type="file"><br>
        <label for="name">Native Number/Id: </label><br>
        <input type="text"><br>
        <input type="button" value="submit">
    </form>
</body>
</html>