<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cohort Creation Page</title>
</head>
<body>
    <h2 style="color: green">Create Cohort Here</h2>

    <h3>Welcome back, create cohort with the form below</h3>

    <form>
        <label for="name">Cohort Name: </label><br>
        <input type="text" placeholder="Enter name of cohort"><br>
        <label for="name">Description: </label><br>
        <textarea placeholder="More details about cohort here..." rows="5" cols="50"></textarea><br>
        <input type="button" value="Submit">
    </form>
</body>
</html>